@model BankApplication.Models.Customers

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <div id="customerInfo-div">
        <h2>Redigera kundinformation</h2>
        <p>Fält markerade med * är obligatoriska att fylla i</p>
        <br />
        <form asp-controller="Customer" asp-action="EditCustomer" method="post">
            <input type="hidden" asp-for="@Model.CustomerId"/>
            <label asp-for="Givenname">* Förnamn</label>
            <br />
            <input asp-for="Givenname" />
            <span asp-validation-for="Givenname"></span>
            <br /><br />
            <label asp-for="Surname">* Efternamn</label>
            <br />
            <input asp-for="Surname" />
            <span asp-validation-for="Surname"></span>
            <br /><br />
            <label>* Kön</label>
            <br />
            @if (Model.Gender == "female")
            {
                <input type="radio" id="female" name="Gender" value="female" checked="checked" />
                <label for="female">Kvinna</label>
                <input type="radio" id="male" name="Gender" value="male" />
                <label for="male">Man</label>
            }
            else
            {
                <input type="radio" id="female" name="Gender" value="female" />
                <label for="female">Kvinna</label>
                <input type="radio" id="male" name="Gender" value="male" checked="checked" />
                <label for="male">Man</label>
            }
            <br /><br />
            <label asp-for="Streetaddress">* Adress</label>
            <br />
            <input asp-for="Streetaddress" />
            <span asp-validation-for="Streetaddress"></span>
            <br /><br />
            <label asp-for="City">* Stad</label>
            <br />
            <input asp-for="City" />
            <span asp-validation-for="City"></span>
            <br /><br />
            <label asp-for="Zipcode">* Postnummer</label>
            <br />
            <input asp-for="Zipcode" />
            <span asp-validation-for="Zipcode"></span>
            <br /><br />
            <label asp-for="Country">* Land</label>
            <br />
            <input asp-for="Country" />
            <span asp-validation-for="Country"></span>
            <br /><br />
            <label asp-for="CountryCode">* Landskod</label>
            <br />
            <input asp-for="CountryCode" placeholder="ex, SE / UK / NO" />
            <span asp-validation-for="CountryCode"></span>
            <br /><br />
            <label asp-for="Birthday">Personnummer</label>
            <br />
            <input type="text" asp-for="Birthday" placeholder="åå-mm-dd" />
            <br /><br />
            <label asp-for="NationalId">Nationellt id</label>
            <br />
            <input asp-for="NationalId" />
            <br /><br />
            <label asp-for="Telephonecountrycode">Riktnummer</label>
            <br />
            <input asp-for="Telephonecountrycode" placeholder="ex, 46 / 358" />
            <br /><br />
            <label asp-for="Telephonenumber">Telefonnummer</label>
            <br />
            <input asp-for="Telephonenumber" />
            <br /><br />
            <label asp-for="Emailaddress">Email</label>
            <br />
            <input asp-for="Emailaddress" placeholder="ex, namn.efternamn@hotmail.com" />
            <span asp-validation-for="Emailaddress"></span>
            <br /><br />
            <input type="submit" value="Spara ändringar" />
        </form>
        <p>@ViewData["Message"]</p>
    </div>