@model BankApplication.Models.Customers

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <div>
        <h4>Skapa ny kund</h4>
        <p>Fyll i nedanstående uppgifter och klicka sedan på Spara. Du kommer sedan skickas tillbaka till startsidan.</p>

        <form asp-controller="Bank" asp-action="NewCustomer" method="post">
            <label asp-for="Givenname">Förnamn</label>
            <input asp-for="Givenname" />
            <br />
            <label asp-for="Surname">Efternamn</label>
            <input asp-for="Surname" />
            <br />
            <label asp-for="Gender">Kön</label>
            <br />
            @*<label>Kvinna</label>
            <input asp-for="Gender" type="radio" id="woman" name="drone" value="Kvinna" />
            <label>Man</label>
            <input asp-for="Gender" type="radio" id="man" name="drone" value="Man">
            <br />*@
            <label asp-for="Streetaddress">Adress</label>
            <input asp-for="Streetaddress" />
            <br />
            <label asp-for="City">Stad</label>
            <input asp-for="City" />
            <br />
            <label asp-for="Zipcode">Postnummer</label>
            <input asp-for="Zipcode" />
            <br />
            <label asp-for="Country">Land</label>
            <input asp-for="Country" />
            <br />
            <label asp-for="CountryCode">Landskod</label>
            <input asp-for="CountryCode" />
            <br />
            <label asp-for="Birthday">Personnummer (åå-mm-dd)</label>
            <input type="text" asp-for="Birthday" />
            <br />
            <label asp-for="NationalId">Nationellt Id *frivilligt</label>
            <input asp-for="NationalId" />
            <br />
            <label asp-for="Telephonecountrycode">Telefon landskod</label>
            <input asp-for="Telephonecountrycode" />
            <br />
            <label asp-for="Telephonenumber">Telefonnummer</label>
            <input asp-for="Telephonenumber" />
            <br />
            <label asp-for="Emailaddress">Email</label>
            <input asp-for="Emailaddress" />
            <br /><br />
            <input type="submit" value="Spara" />
        </form>
    </div>