@model BankApplication.ViewModels.AccountCustomerViewModel;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <div id="searchCustomer">
        <h3 id="cartHeadline">Sök kund</h3>
        <form asp-controller="Customer"
              asp-action="SearchCustomer"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-mode="replace"
              data-ajax-update="#customerFoundDiv">

            <label>Kundnummer</label>
            <br />
            <input type="number" name="mySearch" id="mySearch" />
            <br />
            <br />
            <input type="submit" value="Sök" />
        </form>

    </div>

@if (Model != null)
{
    <div id="customerFoundDiv">
    </div>
}