@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-controller="Bank" asp-action="SearchCustomer" method="post">
    <label>Kundnummer</label>
    <br />
    <input type="number" name="mySearch" id="mySearch" />
    <br />
    <br />
    <input type="submit" value="Sök" />
</form>