@model CustomerSearchViewModel

    <div id="searchCustomerByName">
        <h3 id="cartHeadline">Sök kund</h3>
        <form asp-controller="Customer"
              asp-action="SearchCustomerByName"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-mode="replace"
              data-ajax-update="#customerSearchResultDiv">
            <p>Vill du söka på förnamn, efternnamn eller stad?</p>
            <input type="radio" id="name" name="NameOrCity" value="name" />
            <label for="name">Förnamn eller efternamn</label>
            <input type="radio" id="city" name="NameOrCity" value="city">
            <label for="city">Stad</label>
            <br />
            <label>Söktext</label>
            <br />
            <input type="text" asp-for="@Model.SearchValue" />
            <br />
            <br />
            <input type="submit" value="Sök" />
        </form>
    </div>

@if(Model != null)
{
    <div id="customerSearchResultDiv">
    </div>
}