

<div id="searchCustomerById">
        <h3 id="cartHeadline">Sök kund</h3>
        <form asp-controller="Customer" asp-action="ShowCustomer">
            <div class="form-group">
                <label>Kundnummer</label>
                <input type="text" name="id" id="id" class="form-control" />
                </div>
            <button type="submit" class="btn btn-primary">Sök</button>
        </form>
    <p>@ViewData["Message"]</p>
</div>
