@model DepositWithdrawalViewModel

<div id="withdrawalDoneDiv">
    <h2>Uttag ok!</h2>
    <br /><br />
    <label>Summa:</label>
    <p>@Model.Transaction.Amount</p>
    <label>Från konto:</label>
    <p>@Model.Transaction.AccountId</p>
    <label>Nytt saldo:</label>
    <p>@Model.Account.Balance</p>
</div>