@model BankApplication.ViewModels.IndexViewModel

<div id="indexDiv">
    <div>
        <p>Number of customers: </p>@Model.nrOfCustomers
    </div>
    <div>
        <p>Number of accounts: </p>@Model.nrOfAccounts
    </div>
    <div>
        <p>Total balance: </p>@Model.totalBalance
    </div>
</div>