@model BankApplication.ViewModels.IndexViewModel

<div id="indexDiv">
        <p>Number of customers: </p>@Model.nrOfCustomers
        <p>Number of accounts: </p>@Model.nrOfAccounts
        <p>Total balance: </p>@Model.totalBalance
</div>