@model RegisterUser

    <form asp-controller="Bank" asp-action="Register" method="post">
        <label asp-for="UserName">Användarnamn</label>
        <input asp-for="UserName" />
        <br />
        <label asp-for="Password">Lösenord</label>
        <input asp-for="Password" />
        <br />
        <input type="radio" asp-for="RoleName" id="ADMIN" value="ADMIN" />
        Admin

        <input type="radio" asp-for="RoleName" id="CASHIER" value="CASHIER" />
        Cashier
        <br /><br />
        <input type="submit" value="Lägg till" />
    </form>

<p>@ViewData["Message"]</p>