@using Microsoft.AspNetCore.Identity
@using BankApplication.Data

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@if (signInManager.IsSignedIn(User))
{

    @if (User.IsInRole("Cashier"))
    {
        <a class="navLink" asp-controller="Customer" asp-action="NewCustomer">Skapa kund</a>
        <a class="navLink" asp-controller="Customer" asp-action="SearchCustomerById">Sök kundnummer</a>
        <a class="navLink" asp-controller="Customer" asp-action="SearchCustomerByName">Sök kundnamn</a>
    }
    else if (User.IsInRole("Admin"))
    {
        <a class="navLink" asp-controller="Bank" asp-action="Register">Skapa användare</a>
    }
    <a asp-controller="Bank" asp-action="LogOff">Logga ut</a>

}
else
{

    <a asp-controller="Bank" asp-action="Login">Logga in</a>


}